body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f6f8;
            margin: 0;
            padding: 0;
            color: #333;
        }

        .cv-container {
            max-width: 900px;
            margin: 40px auto;
            background: #fff;
            padding: 40px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .foto{
            flex: 1;
            text-align:right;
        }
        header {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
        border-bottom: 2px solid #333;
        padding-bottom: 20px;
        margin-bottom: 30px;
}

        .header-info {
            flex: 1;
        }

        .Foto {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 8px;
            margin-left: 20px;
        }

        header h1 {
            flex-direction: column;
            margin: 0;
            font-size: 36px;
        }

        header h2 {
            margin: 5px 0 15px;
            font-size: 18px;
            font-weight: normal;
            color: rgb(136, 136, 136);
        }

        .contacto {
            font-size: 14px;
        }

        section {
            margin-bottom: 30px;
        }

        section h3 {
            border-bottom: 2px solid rgb(90, 90, 90);
            padding-bottom: 5px;
            margin-bottom: 15px;
            font-size: 20px;
        }

        .item {
            margin-bottom: 15px;
        }

        .item h4 {
            margin: 0;
            font-size: 16px;
        }

        .item span {
            font-size: 13px;
            color: rgb(136, 136, 136);
        }

        ul {
            padding-left: 20px;
            margin: 5px 0;
        }

        .skills {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .skill {
            background: rgb(207, 214, 216);
            padding: 6px 12px;
            font-size: 14px;
        }

        footer {
            text-align: center;
            font-size: 12px;
            color: rgb(167, 166, 166);
            margin-top: 40px;
        }